/*
Police du site
*/

* {
    font-family: 'Raleway';
}

@font-face {
    font-family: 'Raleway';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/static/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/static/Raleway-Thin.ttf') format('truetype');
    src: url('fonts/static/Raleway-Light.ttf') format('truetype');
    src: url('fonts/static/Raleway-Regular.ttf') format('truetype');
}


/*
Entete, logo, navigation
*/

body {
    width: 99%;
}

.conteneur {
    width: 100%;
    height: auto;
    margin: auto;
}

header {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: fit-content;
    margin-right: auto;
    margin-left: 30px;
}

.navigation {
    width: 20%;
}

.navi {
    display: flex;
    justify-content: space-evenly;
}

.navigation a {
    display: block;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    border-top: 3px solid transparent;
}

.navigation a:hover {
    border-top: 3px solid #0065FC;
}

.inscription {
    width: fit-content;
    height: auto;
    font-weight: bold;
    list-style-type: none;
    padding-right: 4%;
    position: relative;
}

.inscription a {
    color: #0065FC;
    text-decoration: none;
}


/*
1er article, formulaire, filtres
*/

article {
    margin-bottom: 30px !important;
}

.intro {
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0;
}

.sous-titre {
    margin-top: 10px;
}

.sous-titre span {
    width: auto;
    font-size: 1.05em;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0;
}

.formulaire {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    margin-bottom: 40px;
}

.map {
    background-color: #F2F2F2;
    width: 65px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
}

.formulaire img {
    width: 20px;
    height: fit-content;
}

.entrer_ville {
    display: flex;
}

.ville {
    width: 250px;
    height: 45px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-left: none;
    border-right: none;
}

button {
    background-color: #0065FC;
    width: 145px;
    height: 45px;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

i#invisible {
    display: none;
}


/*
Filtres
*/

.filtres {
    width: auto;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    margin-bottom: 30px;
}

.mes_filtres {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 1.25em;
    font-weight: bold;
    margin-right: 25px;
}

.economique,
.familial,
.romantique,
.animaux {
    width: auto;
    display: flex;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 4.5%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border: 2px solid #D9D9D9;
    font-weight: bold;
    white-space: nowrap;
}

.economique:hover,
.familial:hover,
.romantique:hover,
.animaux:hover {
    color: #0065FC;
}

.bill,
.child,
.heart,
.dog {
    width: 40px;
    height: 45px;
    border-radius: 50%;
    right: 26.5px;
    bottom: 15px;
    position: relative;
}

.fa-money-bill-wave {
    background-color: #DEEBFF;
    color: .2e69c2;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    padding-top: 15px;
    margin-top: 2.5px;
    text-align: center;
}

.fa-child {
    background-color: #DEEBFF;
    color: .2e69c2;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    padding-top: 15px;
    margin-top: 2.5px;
    text-align: center;
}

.fa-heart {
    background-color: #DEEBFF;
    color: .2e69c2;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    padding-top: 15px;
    margin-top: 2.5px;
    text-align: center;
}

.fa-dog {
    background-color: #DEEBFF;
    color: .2e69c2;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    padding-top: 15px;
    margin-top: 2.5px;
    text-align: center;
}

.information {
    width: fit-content;
    height: 35px;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
}


/*
Section principale
*/

.fa-info {
    color: #0065FC;
    border-color: #D9D9D9;
    border-style: solid;
    width: 20px;
    height: 20px;
    padding-top: 2.5px;
    font-size: 0.85rem;
    border-radius: 50%;
    position: relative;
    text-align: center;
}

.disponibles {
    width: fit-content;
    height: 30px;
    margin-left: 15px;
    position: relative;
    top: 3px;
}

.base {
    width: 99%;
    margin: auto;
    display: flex;
    margin-bottom: 40px;
}

.hebergements {
    width: 80%;
    height: 650px;
    display: flex;
    justify-content: space-between;
}

.conteneur1 {
    background-color: #F2F2F2;
    width: 88%;
    height: auto;
    padding: 0 30px 30px 30px;
    margin-left: 30px;
    border-radius: 25px;
}

#ancre1 {
    padding-top: 15px;
}

.intro1 {
    width: auto;
}

.conteneur1_haut {
    display: flex;
    justify-content: space-between;
}

.conteneur1_bas {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.conteneur1 a {
    color: black;
    list-style-type: none;
    text-decoration: none;
}

.conteneur1 a:active {
    color: black;
}

.element1,
.element2,
.element4,
.element5 {
    background-color: white;
    width: 30%;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 6px 3px #f2f2f2;
}

.element3,
.element6 {
    background-color: white;
    width: 30%;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 6px 3px #f2f2f2;
}

.cannebiere,
.du_port,
.mouettes,
.mer,
.panier,
.amina {
    width: 96.5%;
    height: 55%;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.lieu1 {
    width: 95%;
    height: 5%;
    font-weight: bold;
    padding-left: 15px;
    border-radius: 25px;
}

.nuit1 {
    width: 95%;
    height: 5%;
    font-size: 0.9em;
    padding-left: 15px;
    border-radius: 25px;
}

.prix1 {
    width: auto;
    height: 15px;
    font-weight: bold;
    padding-top: 5px;
    border-radius: 25px;
}

.etoiles1 {
    width: 95%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    padding-left: 15px;
    border-radius: 25px;
}

.fas.fa-star {
    color: #0065FC;
}

.fa.fa-star {
    color: #D8D8D8;
}

.plus {
    width: 150px;
    height: 30px;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 45px;
    margin-left: 5px;
    position: relative;
}

.conteneur2 {
    background-color: #F2F2F2;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 30px;
    margin-left: 5px;
    border-radius: 25px;
}

.populaires {
    width: auto;
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    position: relative;
}

.intro2 {
    margin-right: 90px;
    margin-left: 45px;
}

.chart img {
    width: 25px;
}

.pop {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.first {
    background-color: white;
    width: 77%;
    height: 125px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 45px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 6px 3px #f2f2f2;
}

.second,
.third {
    background-color: white;
    width: 77%;
    height: 125px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 65px;
    margin-left: 45px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 6px 3px #F2F2F2;
}

.soleil,
.coeur_eau {
    width: 40%;
    height: 145px;
    /*max-height: 145px;*/
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}

.bleu_blanc {
    width: 40%;
    height: 125px;
    /*max-height: 125px;*/
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}

.lieu2 {
    width: 100%;
    height: 30%;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
    white-space: nowrap;
    border-radius: 25px;
    position: relative;
}

.nuit2 {
    width: 100%;
    height: 30%;
    font-size: 0.9em;
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 25px;
    position: relative;
}

.prix2 {
    width: fit-content;
    height: 15px;
    font-weight: bold;
    border-radius: 25px;
}

.etoiles2 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    padding-left: 15px;
    border-radius: 25px;
    position: relative;
}


/*
Artcile sur les activités
*/

article {
    margin-bottom: 75px;
}

#ancre2 {
    width: 99%;
    height: 35px;
    margin-bottom: 25px;
    position: relative;
}

.activites {
    width: 98%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 30px;
}

.conteneur3,
.conteneur5 {
    width: 22%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 25px;
    position: relative;
    right: 15px;
    box-shadow: 0 6px 3px #f2f2f2;
}

.activites a {
    color: black;
    list-style-type: none;
    text-decoration: none;
}

.activites a {
    color: black;
    list-style-type: none;
    text-decoration: none;
}

.activites a:active {
    color: black;
}

.activites a:active {
    color: black;
}

.conteneur4,
.conteneur6 {
    width: 22%;
    height: 500px;
    position: relative;
    right: 15px;
    border-radius: 25px;
}

.haut1 {
    width: 100%;
    height: 276px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 25px;
    box-shadow: 0 6px 3px #f2f2f2;
}

.bas1 {
    width: 100%;
    height: 184px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 40px;
    border-radius: 25px;
    box-shadow: 0 6px 3px #f2f2f2;
}

.haut2 {
    width: 100%;
    height: 207px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 25px;
    box-shadow: 0 6px 3px #f2f2f2;
}

.bas2 {
    width: 100%;
    height: 253px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 40px;
    border-radius: 25px;
    box-shadow: 0 6px 3px #f2f2f2;
}

.vieux_port {
    width: 100%;
    height: 400px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.port {
    background-color: white;
    width: 100%;
    height: 75px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.pomegue {
    width: 100%;
    height: 80%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.fort {
    background-color: white;
    width: 100%;
    height: 20%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.frioul {
    width: 100%;
    height: 80%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.iles {
    background-color: white;
    width: 100%;
    height: 20%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.calanques {
    width: 100%;
    height: 400px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.parc_national {
    background-color: white;
    width: 100%;
    height: 75px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.notre_dame {
    width: 100%;
    height: 80%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.dame {
    background-color: white;
    width: 100%;
    height: 20%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.parc_lc {
    width: 100%;
    height: 80%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.longchamp {
    background-color: white;
    width: 100%;
    height: 20%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
    padding-left: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


/*
Footer
*/

footer {
    background-color: #F2F2F2;
    width: auto;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
}

.conteneur7,
.conteneur8,
.conteneur9 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 160px;
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style-type: none;
}


/*
---------------------------------------------------------------------
MEDIA QUERIES
---------------------------------------------------------------------
*/


/**
*************************************************************************
*************************************************************************
Ipad version
**/

@media screen and (min-width: 1025px) and (max-width: 1295px) {
    .element1 .lieu1 {
        width: 95%;
        height: 5%;
        font-weight: bold;
        padding-left: 15px;
        border-radius: 25px;
        display: inline-table;
    }
    .element1 .nuit1 {
        width: 95%;
        height: 5%;
        font-size: 0.9em;
        padding-left: 15px;
        display: inline-table;
    }
    .etoiles1 {
        width: 95%;
        display: inline-table;
        flex-direction: row;
        justify-content: flex-start;
        align-content: space-between;
        padding-left: 15px;
        border-radius: 25px;
    }
    .lieu2 {
        width: 100%;
        height: 30%;
        font-weight: bold;
        padding-top: 0;
        padding-left: 15px;
        display: inline-table;
        white-space: break-spaces;
        border-radius: 25px;
        position: relative;
    }
    .nuit2 {
        width: 100%;
        height: 30%;
        font-size: 0.9em;
        padding-top: 5px;
        padding-left: 15px;
        display: inline-table;
        border-radius: 25px;
        position: relative;
    }
    .etoiles2 {
        width: 100%;
        height: 30%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0;
        padding-left: 15px;
        display: inline-table;
        border-radius: 25px;
        position: relative;
    }
    .first {
        background-color: white;
        width: 77%;
        height: 145px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 45px;
        border-radius: 25px;
        position: relative;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .second {
        background-color: white;
        width: 77%;
        height: 145px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 50px;
        margin-left: 45px;
        border-radius: 25px;
        position: relative;
        box-shadow: 0 6px 3px #F2F2F2;
    }
    .third {
        background-color: white;
        width: 77%;
        height: 125px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 50px;
        margin-left: 45px;
        border-radius: 25px;
        position: relative;
        box-shadow: 0 6px 3px #F2F2F2;
    }
    .soleil,
    .coeur_eau {
        width: 40%;
        height: 100%;
        /*max-height: 145px;*/
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .bleu_blanc {
        width: 40%;
        height: 100%;
        /*max-height: 125px;*/
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    footer {
        height: 275px;
    }
}


/**
*************************************************************************
*************************************************************************
Iphone8
**/

@media screen and (max-width: 1024px) {
    body {
        width: auto;
    }
    .conteneur {
        width: auto;
        height: auto;
        margin: auto;
    }
    header {
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 25px;
    }
    .logo {
        width: 50%;
        margin-right: auto;
        margin-left: 30px;
        position: relative;
    }
    .logo img {
        block-size: 100px;
    }
    .navi {
        display: flex;
        justify-content: space-around;
    }
    .navigation {
        width: 100%;
        display: block;
        color: black;
        padding-top: 0;
        padding-bottom: 0;
        top: 50px;
        margin-top: 75px;
        text-decoration: none;
        border-top: none;
        border-bottom: 5px solid #F2F2F2;
        position: absolute;
    }
    .navigation a {
        width: 50%;
        text-decoration: none;
        border-top: none;
    }
    .hotels {
        color: black;
        font-weight: normal;
        font-size: 2.75em;
        text-align: center;
    }
    .loisirs {
        color: black;
        font-weight: normal;
        font-size: 2.75em;
        text-align: center;
    }
    .navigation .hotels:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 5px solid #0065FC;
    }
    .navigation .loisirs:hover {
        color: #0065FC;
        padding-left: 0;
        border-top: none;
        border-bottom: 5px solid #0065FC;
    }
    .inscription {
        height: auto;
        font-weight: bold;
        font-size: 2.25em;
        list-style-type: none;
        padding-right: 4%;
        position: relative;
        top: 5px;
    }
    .inscription a {
        color: #0065FC;
        text-decoration: none;
    }
    /*
    Body, formulaire, filtres
    */
    .titre {
        width: 90%;
        margin-top: 100px;
    }
    .intro {
        width: 80%;
        padding-right: 30px;
        padding-left: 30px;
        white-space: break-spaces;
        font-size: 3.15rem;
        margin: 0;
    }
    .sous-titre {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .sous-titre span {
        width: 90%;
        display: block;
        font-size: 2rem;
        padding-right: 30px;
        padding-left: 30px;
        white-space: break-spaces;
        margin: 0;
    }
    .formulaire {
        width: 95%;
        height: 85px;
        display: flex;
        flex-direction: row;
        padding-left: 30px;
    }
    .map {
        background-color: #F2F2F2;
        width: 10%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        position: relative;
    }
    .formulaire img {
        width: 20px;
        height: fit-content;
    }
    .entrer_ville {
        width: 100%;
        height: auto;
    }
    .localisation {
        width: 70%;
    }
    .ville {
        width: 100%;
        height: 100%;
        padding-left: 10px;
        font-size: 2rem;
        border-top: 2px solid #F2F2F2;
        border-bottom: 2px solid #F2F2F2;
        border-left: none;
        border-right: none;
    }
    button {
        background-color: #0065FC;
        width: 10%;
        height: 100%;
        border: none;
        font-weight: bold;
        font-size: 1.1em;
        color: white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }
    .rechercher {
        display: none;
    }
    i#invisible {
        display: flex;
        justify-content: center;
    }
    /*
    Filtres
    */
    .filtres {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 30px;
    }
    .mes_filtres {
        width: fit-content;
        display: flex;
        align-items: center;
        font-size: 2em;
        font-weight: bold;
        margin-right: 25px;
    }
    .economique {
        width: auto;
        height: 50px;
        display: flex;
        font-size: 2rem;
        align-items: center;
        padding-top: 0;
        padding-right: 25px;
        padding-left: 25px;
        margin-top: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border: 2px solid #D9D9D9;
        font-weight: bold;
        white-space: nowrap;
        position: relative;
        top: 5px;
    }
    .familial {
        width: auto;
        height: 50px;
        display: flex;
        font-size: 2rem;
        align-items: center;
        padding-top: 0;
        padding-right: 25px;
        padding-left: 25px;
        margin-top: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border: 2px solid #D9D9D9;
        font-weight: bold;
        white-space: nowrap;
        position: relative;
        bottom: 74px;
        left: 50%;
    }
    .romantique {
        width: auto;
        height: 50px;
        display: flex;
        font-size: 2rem;
        align-items: center;
        padding-top: 0;
        padding-right: 25px;
        padding-left: 25px;
        margin-top: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border: 2px solid #D9D9D9;
        font-weight: bold;
        white-space: nowrap;
        position: relative;
        bottom: 50px;
    }
    .animaux {
        width: auto;
        height: 50px;
        display: flex;
        font-size: 2rem;
        align-items: center;
        padding-top: 0;
        padding-right: 25px;
        padding-left: 25px;
        margin-top: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border: 2px solid #D9D9D9;
        font-weight: bold;
        white-space: nowrap;
        position: relative;
        bottom: 30px;
    }
    .economique:hover,
    .familial:hover,
    .romantique:hover,
    .animaux:hover {
        color: #0065FC;
    }
    .bill,
    .child,
    .heart,
    .dog {
        width: 40px;
        height: 45px;
        border-radius: 50%;
        right: 26.5px;
        bottom: 4px;
        position: relative;
    }
    .fa-money-bill-wave {
        background-color: #DEEBFF;
        width: 50px;
        height: 38px;
        border-radius: 50%;
        position: relative;
        padding-top: 15px;
        margin-top: 0;
        text-align: center;
    }
    .fa-child {
        background-color: #DEEBFF;
        width: 50px;
        height: 38px;
        border-radius: 50%;
        position: relative;
        padding-top: 15px;
        margin-top: 0;
        text-align: center;
    }
    .fa-heart {
        background-color: #DEEBFF;
        width: 50px;
        height: 38px;
        border-radius: 50%;
        position: relative;
        padding-top: 15px;
        margin-top: 0;
        text-align: center;
    }
    .fa-dog {
        background-color: #DEEBFF;
        width: 50px;
        height: 38px;
        border-radius: 50%;
        position: relative;
        padding-top: 15px;
        margin-top: 0;
        text-align: center;
    }
    /*
    Section principale
    */
    .information {
        width: fit-content;
        height: 35px;
        display: flex;
        padding-right: 30px;
        padding-left: 30px;
    }
    .fa-info {
        color: #0065FC;
        border-color: #D9D9D9;
        border-style: solid;
        width: 30px;
        height: 28px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        padding-top: 7px;
        font-size: 1.25rem;
    }
    .disponibles {
        width: fit-content;
        height: 30px;
        font-size: 1.75rem;
        margin-left: 15px;
        position: relative;
        top: 3px;
    }
    .base {
        width: 99%;
        margin: auto;
        margin-top: 25px;
        display: flex;
        flex-direction: column-reverse;
    }
    .conteneur2 {
        background-color: #F2F2F2;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 45px;
        border-radius: 25px;
    }
    .populaires {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;
        position: relative;
    }
    .intro2 {
        margin-right: auto;
        margin-left: 35px;
        font-size: 2.5em;
        white-space: nowrap;
    }
    .chart img {
        width: 50px;
        padding-right: 50%;
    }
    .pop {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .first {
        background-color: white;
        width: 91%;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 45px;
        border-radius: 25px;
        position: relative;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .second,
    .third {
        background-color: white;
        width: 91%;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 45px;
        border-radius: 25px;
        position: relative;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .soleil,
    .coeur_eau {
        width: 40%;
        height: 240px;
        padding-top: 5px;
        padding-left: 5px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .bleu_blanc {
        width: 40%;
        height: 240px;
        padding-top: 5px;
        padding-left: 5px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .lieu2 {
        width: 100%;
        height: 30%;
        display: inline-table;
        font-weight: bold;
        font-size: 2rem;
        padding-top: 10px;
        padding-left: 15px;
        white-space: nowrap;
        border-radius: 25px;
        position: relative;
    }
    .nuit2 {
        width: 100%;
        height: 30%;
        font-size: 2rem;
        padding-top: 5px;
        padding-left: 15px;
        border-radius: 25px;
        position: relative;
    }
    .prix2 {
        width: fit-content;
        height: 15px;
        font-weight: bold;
        border-radius: 25px;
    }
    .etoiles2 {
        width: 100%;
        height: 30%;
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0;
        padding-left: 15px;
        border-radius: 25px;
        position: relative;
    }
    .hebergements {
        width: 100%;
        height: auto !important;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    .conteneur1 {
        background-color: white;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    #ancre1 {
        padding-top: 15px;
    }
    .intro1 {
        width: auto;
        margin-left: 35px;
        font-size: 2rem;
    }
    .conteneur1_haut {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .conteneur1_bas {
        display: flex;
        flex-direction: column;
        margin: 0%;
    }
    .conteneur1 a {
        color: black;
        list-style-type: none;
        text-decoration: none;
    }
    .conteneur1 a:active {
        color: black;
    }
    .element1,
    .element2,
    .element4,
    .element5 {
        background-color: white;
        width: 91%;
        height: 450px;
        margin-left: 45px;
        margin-bottom: 45px;
        border-radius: 25px;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .element3,
    .element6 {
        background-color: white;
        width: 91%;
        height: 450px;
        margin-left: 45px;
        margin-bottom: 45px;
        border-radius: 25px;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .cannebiere,
    .du_port,
    .mouettes,
    .mer,
    .panier,
    .amina {
        width: 98%;
        height: 70%;
        padding-top: 1%;
        padding-right: 1%;
        padding-left: 1%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .lieu1 {
        width: 95%;
        font-size: 2rem;
        font-weight: bold;
        padding-left: 15px;
        border-radius: 25px;
    }
    .nuit1 {
        width: 95%;
        font-size: 2rem;
        padding-left: 15px;
        border-radius: 25px;
    }
    .prix1 {
        width: auto;
        height: 15px;
        font-weight: bold;
        padding-top: 5px;
        border-radius: 25px;
    }
    .etoiles1 {
        width: 95%;
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: space-between;
        padding-left: 15px;
        border-radius: 25px;
    }
    .fas.fa-star {
        color: #0065FC;
    }
    .plus {
        width: 25%;
        height: 30px;
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: 25px;
        margin-left: 45px;
        position: relative;
    }
    /*
    Artcile sur les activités
    */
    .activites {
        width: 99%;
        height: auto !important;
        display: flex;
        flex-direction: column;
        padding-left: 45px;
        margin: auto !important;
    }
    #ancre2 {
        width: 90%;
        font-size: 2.5em;
        padding-top: 15px;
        margin-bottom: 90px;
    }
    .conteneur3,
    .conteneur5 {
        width: 91%;
        height: 500px;
        border-radius: 25px;
        margin-bottom: 45px;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .activites a {
        width: 100%;
        color: black;
        list-style-type: none;
        text-decoration: none;
    }
    .activites a:active {
        color: black;
    }
    .activites a:active {
        color: black;
    }
    .conteneur4,
    .conteneur6 {
        width: 91%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        margin-bottom: 45px;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .haut1 {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-radius: 25px;
    }
    .bas1 {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 45px;
        border-radius: 25px;
    }
    .haut2 {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-radius: 25px;
    }
    .bas2 {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 45px;
        border-radius: 25px;
    }
    .vieux_port {
        width: 100%;
        height: 400px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .port {
        background-color: white;
        width: 98%;
        height: 100px;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .pomegue {
        width: 100%;
        height: 400px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .fort {
        background-color: white;
        width: 98%;
        height: 100px;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .frioul {
        width: 100%;
        height: 400px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .iles {
        background-color: white;
        width: 98%;
        height: 100px;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .calanques {
        width: 100%;
        height: 400px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .parc_national {
        background-color: white;
        width: 98%;
        height: 100px;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .notre_dame {
        width: 100%;
        height: 400px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .dame {
        background-color: white;
        width: 98%;
        height: 100px;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    .parc_lc {
        width: 100%;
        height: 400px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .longchamp {
        background-color: white;
        width: 98%;
        height: 100px;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 0;
        padding-left: 15px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0 6px 3px #f2f2f2;
    }
    /*
    Footer
    */
    footer {
        background-color: #F2F2F2;
        width: 97%;
        height: auto !important;
        display: block !important;
        font-size: 2rem;
        padding-right: 30px;
        padding-left: 30px;
    }
    .conteneur7,
    .conteneur8,
    .conteneur9 {
        width: auto;
        height: auto !important;
    }
    footer ul {
        padding-left: 0;
    }
    footer li {
        list-style-type: none;
    }
}